@import "tailwindcss";
@plugin "daisyui";
@font-face {
    font-family: Regular;
    src: url("./Fonts/fa-brands-400.woff2");
}
*{
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}
html{
    scroll-behavior: smooth;
}
html,body{
    height: 100%;
    width: 100%;
    background: #e0f2fe !important;  /* or your chosen color */
    color: #1a1a1a;
    font-family: 'Inter', sans-serif;
}